language: php

php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3

before_script:
  - composer self-update
  - composer install --prefer-source

script: ./bin/phpunit --coverage-text

notifications:
  email:
    - andreas.glaser@pm.me

cache:
  directories:
    - $HOME/.composer/cache